details {
  background-color: #f9f9f9; // same color as .message
  margin-bottom: 1rem;
  padding: 1rem;

  summary {
    cursor: pointer;
  }

  :nth-child(2) {
    margin-top: 1rem;
  }

  .highlight {
    // nested code block within a <details/> element has the same background, so we don't need extra vertical padding
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}