---
---

// global colors
$primary-color: #422594;
$primary-color-variant: #8e83f7;
$secondary-color: #946b25;

// Hydeout theme, see https://github.com/fongandrew/hydeout/blob/master/_sass/hydeout/_variables.scss
$sidebar-bg-color: $primary-color;
$link-color: $primary-color;
$code-color: $secondary-color;
@import "hydeout";
@import "smaller-sidebar-title";

// wave animation in sidebar
$wave-bg-sky: $primary-color-variant;
@import "wave";

// expandable <details>
@import "details";
